.Posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Posts li {
    display: inline;
    margin: 20px;
}

.Header a {
    text-decoration: none;
    color: rgb(35, 37, 124);
    margin: 20px;
    font-size: 200%;
    text-shadow: 1px 1px 3px rgb(36, 24, 80);    
}

.Header a:hover {    
    color: rgb(135, 37, 124);   
    text-shadow: 1px 1px 3px rgb(136, 24, 80);
}

.Header a.active {    
    color: rgb(243, 122, 9);   
    text-shadow: 1px 1px 3px rgb(100, 51, 11);
}

.Header nav {
    text-align: center;
    margin: 10px 0;   
}

input {
    margin: 0 40px;
    font-size: 200%;     
}

span {
    font-size: 200%;
    /* font-weight: bold; */
}
h1 {
    color: rgb(189, 22, 22);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}